
{{ define "style"}}
  <link rel="stylesheet" type="text/css" href="/css/dev-log/list.css" />
{{ end }}

{{ define "main" }}
    <h1>Dev Log</h1>
    <p>
      From December 15, 2022 to April 1, 2023, as an effort to help myself
      learn more effectively and document my journey, I wrote a small log
      of things I learned or worked on each day.
    </p>
    {{ range .Pages }}
      <details>
        <summary>
          <a href="{{.Permalink}}" class="post-link"></a>
            <h2>{{ .Title }}</h2></summary>
          </a>
        </summary>
        {{ .Content }}
      </details>
    {{ end }}
{{ end }}
