
{{ define "style"}}
  <link rel="stylesheet" type="text/css" href="/css/dev-log/list.css" />
{{ end }}

{{ define "main" }}
    <h1>Dev Log</h1>
    <p>
      As an effort to help myself learn more effectively and document
      my journey, I'm trying to write a small log of some things I've
      learned or worked on each day.
    </p>
    {{ range .Pages }}
      <details>
        <summary>
          <a href="{{.Permalink}}" class="post-link"></a>
            <h2>{{ .Title }}</h2></summary>
          </a>
        </summary>
        {{ .Content }}
      </details>
    {{ end }}
{{ end }}