
@font-face {
	font-family: "Manrope";
	src: url("/fonts/Manrope/Manrope-VariableFont_wght.ttf");
}

html, body {
	color: #4c525c;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Manrope", sans-serif;
}

a {
	color: #4d86f4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}