
@font-face {
	font-family: "Manrope";
	src: url("/fonts/Manrope/Manrope-VariableFont_wght.ttf");
}

:root {
	--body-width: 650px;
	--body-max-width: 90%;
	--body-padding-top: 50px;

	--nav-height: 75px;
	--nav-font-size: 18px;
	--nav-font-size-mobile: 22px;

	--background-color: white;
	--font-color: #4c525c;
}

html, body {

	color: var(--font-color);
	/* color: #c5c8c6; */
	/* background-color: #1d1f20; */
	margin: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	line-height: 1.5;
}

* {
	box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Manrope", sans-serif;
	/* color: white; */
}

a {
	color: #4d86f4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	/* color: rgb(0,80,160); */
}

.main {
    max-width: var(--body-max-width);
    width: var(--body-width);
    margin: auto;
    padding-bottom: 100px;
}