
html, body {
    
}

h1 {
    text-align: center;
}

.main {
    max-width: var(--body-max-width);
    width: var(--body-width);
    margin: auto;
}

.photo-div {
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 100%;
    overflow: hidden;
}

.photo {
    width: 100%;
}
