
html, body {
    
}

h1 {
    text-align: center;
}

.photo-div {
    width: 175px;
    height: 175px;
    margin: auto;
    border-radius: 100%;
    overflow: hidden;
}

.photo {
    width: 100%;
}
