.bggreen {
    background-color: #c1e1cd;
}

.bgyellow {
    background-color: palegoldenrod;
}

.bgpurple {
    background-color: lavender;
}

.bgblue {
    background-color: skyblue;
}

.bgorange {
    background-color:peachpuff;
}

.flexh {
    display: flex;
    justify-content: space-between;
}
.homesub {
    width: 48%;
}

.myface {
    width: 25%;
    height: 100%;
    object-fit: cover;
}

.indeximg {
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    border: 1px solid black;
}

.description {
    width: 70%;
}

.card {
    background-color: white;
    /* padding: 25px; */
    /* box-sizing: border-box; */
    /* border: 1px solid black; */
    /* border-radius: 5px; */
    /* box-shadow: 10px 10px rgba(0, 0, 0, 0.1); */
}

.aboutsite {
    margin-top: 50px;
    margin-bottom: 25px;
}

.section {
    margin-bottom: 25px;
}

h1, h2, h3, h4 {
    margin: 0;
}

p {
    /* margin: 0; */
}

.projectsWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project {
    width: 48%;
    margin-bottom: 25px;
}

.projectImg {
    margin-top: 15px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

@media (max-width: 1000px) {
    .myface {
        display: none;
    }
    .description {
        width: 100%;
    }
    .project {
        width: 100%;
    }
}