<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ block "title" . }}
        {{ .Site.Title }}
      {{ end }}
    </title>
    <link rel="stylesheet" type="text/css" href="/css/global.css" />
    <link rel="stylesheet" type="text/css" href="/css/nav-bar.css" />
    {{ block "style" . }}
    {{ end }}
  </head>
  <body>
    <div class="nav-mobile">
      <div id="menu-toggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        
        <div class="menu">
          <a href="/">Home</a>
          <a href="/blog">Blog</a>
          <a href="/dev-logs">Dev Logs</a>
        </div>
      </div>
    </div>

    <div class="nav-bar">
      <div class="nav-inner nav-left">
        <a href="/"><span class="my-name">Alec Chen</span></a>
      </div>
      <div class="nav-inner nav-right">
        <a href="/blog">Blog</a>
        <a href="/dev-logs">Dev Logs</a>
      </div>
    </div>
    {{ block "header" .}}
    {{ end }}
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
  </body>
</html>