/* Variables */

:root {
	--body-width: 650px;
	--body-max-width: 90%;
	--body-padding-top: 50px;

	--font-size: 1.1rem;

	--nav-width: var(--body-width);
	--nav-height: 75px;
	--nav-font-size: 18px;
	--nav-font-size-mobile: 22px;

	--background-color: white;
	--font-color: #000;
	--accent-color: #00ad3c;
}

/* Global */

html, body {
	color: var(--font-color);
	margin: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	line-height: 1.5;
}

* {
	box-sizing: inherit;
}

h1 {
	font-size: 2.25rem;
}

p, ul, ol, li, blockquote, summary, details {
	font-size: var(--font-size);
}

pre, code {
	font-size: 1rem;
}

a {
	font-size: var(--font-size);
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

code {
	background-color: #f5f5f5;
	padding: 3px 6px;
	border-radius: 5px;
}

.highlight code {
	padding: 0;
}

pre {
	background-color: #f5f5f5;
	padding: 15px;
	border-radius: 5px;
	overflow-x: auto;
}

.main {
    max-width: var(--body-max-width);
    width: var(--body-width);
    margin: auto;
    padding-bottom: 100px;
	padding-top: 0;
}

img, iframe {
	width: 100%;
}

/* Navigation */

.nav-bar {
    height: var(--nav-height);
    max-width: var(--body-max-width);
    width: var(--nav-width);
    margin: auto;
    justify-content: space-between;
    display: flex;
}

.nav-inner {
    padding: 20px 0;
}

.nav-inner a {
    color: var(--font-color);
}

.nav-left {
    font-size: 22px;
}

.nav-right {
    font-size: 1.25rem;
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.my-name {
    font-weight: 700;
}

.nav-mobile {
    display: none;
    height: var(--nav-height);
    padding-top: 25px;
    font-size: var(--nav-font-size-mobile);
}

/* Hamburger menu */

#menu-toggle {
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menu-toggle input {
  display: block;
  width: 35px;
  height: 30px;
  position: absolute;
  margin-top: -3px;
  margin-left: calc((100% - var(--body-max-width)) / 2);
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  left: calc((100% - var(--body-max-width)) / 2);
  background: var(--font-color);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menu-toggle span:first-child {
  transform-origin: 0% 0%;
}

#menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menu-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  padding-left: calc((100% - var(--body-max-width)) / 2);
}

.menu a {
    display: block;
    margin-top: 15px;
    color: var(--font-color);
}

#menu-toggle input:checked ~ div {
  transform: none;
}

@media only screen and (max-width: 700px) {
    .nav-bar {
        display: none;
    }
    .nav-mobile {
        display: block;
    }
}

/* Homepage */

.homepage h1 {
    text-align: center;
}

.photo-div {
    width: 175px;
    height: 175px;
    margin: auto;
    border-radius: 100%;
    overflow: hidden;
}

.photo {
    width: 100%;
}

/* Blog & Dev-log */

.post-link {
    color: inherit;
}

.post {
    background-color: #f5f5f5;
    padding: 10px 25px;
    margin: 20px 0;
    border-radius: 10px;
}

/* Dev-log specific */

.devlog-list h2 {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.devlog-list summary::marker {
    font-size: 1.5em;
}
