{% extends "base.html" %}

{% block rss %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/blog/index.xml">
{% endblock %}

{% block main %}
    <h1>Blog</h1>
    <p>
      I've gone through phases of writing on and off. I wrote on Medium
      from March 2020 through 2021 which have been reposted here.
      Then from December 2022 through March
      2023 I wrote weekly blogposts, mainly for me to reflect
      and document my thoughts regarding my work on a regular
      basis. Now I'll occasionally write a post whenever I feel like it.
    </p>
    <p>
    <a href="/blog/index.xml" target="_blank">
      RSS feed</a>,
    <a href="https://alecchendev.substack.com/subscribe" target="_blank">
      subscribe via email
    </a>
    </p>
    {% for page in pages %}
      <a href="{{ page.url }}" class="post-link">
        <div class="post">
          <p class="post-date">{{ page.date.strftime('%Y-%m-%d') }}</p>
          <h2>{{ page.title }}</h2>
        </div>
      </a>
    {% endfor %}
{% endblock %}
