@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400;500;600;700&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500;700&display=swap'); */

:root {
    --text-color: #242424;
    --bg-color: #fff;
}

::selection {
    background: var(--text-color); /* WebKit/Blink Browsers */
    color: var(--bg-color);
}

body {
    margin: 0;
    /* font-family: DM Sans; */
    font-family: -apple-system, BlinkMacSystemFont, Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* font-family: Sora; */
    /* font-family: Inter; */
    /* font-weight: 300; */
    letter-spacing: .025em;
    line-height: 1.5;
    background-color:var(--bg-color);
    color: var(--text-color);
}

h1, h2, h3 {
    /* font-family: DM Sans; */
}

h2, h3 {
    margin-top: 35px;
}

blockquote {
    margin-left: 0;
    padding-left: 2em;
    /* padding-left: auto; */
    border-left: 3px solid black;
}

ul {
    line-height: 1.5;
}

p, li, a {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 1.2rem;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-size: 1.15rem; */
}

a {
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 2px solid var(--text-color);
}

a:hover {
    border-bottom: 2px solid var(--text-color);
    text-decoration: none;
    color: var(--bg-color);
    background-image: linear-gradient(
    180deg,transparent 0%,var(--text-color) 0);
}
