
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  line-height: 1.4;
  color: #333;
}

.dark-mode {
  background-color: #161a20;
  color: #ccc;
}

.dark-mode a {
  color: #aceda4;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  color: #0864c7;
  text-decoration: underline;
  cursor: pointer;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
}

.date {
  color: gray;
}

.hobby-img {
  width: 32.8%;
}

.hobby-embed {
  width: 49.5%;
  height: auto;
  border: none;
}