.container {
	width: 50rem;
	padding: 0 1rem;
	padding-top: 50px;
	margin: 3rem auto 6rem;
}

.skinnyContainer {
	width: 36rem;
	padding: 0 1rem;
	padding-top: 50px;
	margin: 3rem auto 6rem;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.backToHome {
	margin: 3rem 0 0;
}

@media screen and (max-width: 1080px) {
	.container {
		width: 90%;
	}
}