.master {
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 75px;
}

.homeWidth {
    width: 700px;
    margin-top: 25px;
}

.postWidth {
    width: 700px;
}

.content {
    margin-top: 50px;
    width: 100%;
}

.backLink {
    /* margin-top: 25px; */
    /* margin-bottom: 100px; */
}

.backLink a {
    font-size: 1rem;
    border: none;
}

.backLink a:hover {
    color: var(--text-color); /* WebKit/Blink Browsers */
    background-image: none;
}

@media (max-width: 770px) {
    .homeWidth {
        width: 90%;
    }
}

@media (max-width: 770px) {
    .postWidth {
        width: 90%;
    }
}