
.container {
	max-width: 800px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: auto;
	/* background-color: lightgray; */
	display: flex;
	justify-content: space-between;
}

.navigation {
	display: flex;
	flex-direction: column;
	top: 50px;
	position: sticky;
	align-self: flex-start;
}

.content {
	width: 600px;
}

@media only screen and (max-width: 850px) {
  .container {
		flex-direction: column;
	}
	
	.navigation {
		margin-left: 2.5%;
		margin-bottom: 25px;
		position: inherit;
	}
	
	.content {
		max-width: 95%;
		margin: auto;
	}
}