
.intro {
    margin-bottom: 25px;
}

.flexh {
    display: flex;
    justify-content: space-between;
}
.homesub {
    width: 48%;
}

.postTitle {
    margin-bottom: 0;
}

.postDate {
    /* margin-top: 0; */
}

@media (max-width: 1000px) {
    .flexh {
        flex-direction: column;
    }
    .homesub {
        width: 100%;
    }
}